.gene{
    margin-top: 15px;
    margin-left: 45%;
    max-width: 150px;
    height: auto;
}
body{
    background-color: #DAA520;
}

h1{
    font-family: 'Fascinate', cursive;
    font-size: 60px;
    margin-top: 0;
    text-align: center;
    text-shadow: 2px 2px 5px red;
    
}
h2{
font-family: 'Quicksand', sans-serif;
font-size: 30px;
}
#menu, 
#eaten{
    height: 250px;
}

button {
background-color: crimson;
border: none;
border-radius: 4px;
color: white;
font-size: 12px;
font-family: 'Quicksand', sans-serif;
margin-left: 10px;
padding: 10px;
text-align: center;
-webkit-transition-duration: 0.3s;
transition-duration: 0.4s;

}
button:hover {
    background-color: white;
    color: red;
}

.text-label{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}
input{
    height: 25px;
}
li{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.tina{
    max-width: 100px;
    height: auto;
}